.story__slider {
  width: 450px;
  height: 800px;
  border-radius: 6px;
  overflow: hidden;
}

.story__slide {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.story__slide video,
.story__slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: inherit;
}

.story__pagination {
  bottom: unset !important;
  top: 8px !important;
  display: flex;
  padding: 0 4px;
}

.story__pagination .slick-dots li button::before {
  color: rgba(247, 247, 245, 0.4);
  font-size: 10px;
}

.story__pagination .slick-dots li.slick-active button::before {
  color: #f7f7f5;
}

.story__prev,
.story__next {
  height: 100%;
  width: 50%;
  top: 0;
  margin-top: 0;
}

.story__prev {
  left: 0;
}

.story__next {
  right: 0;
}

.story {
  overflow: hidden;
  width: 100vw;
}
.progressBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #363632;
  z-index: 10;
}

.progressBar {
  height: 100%;
  width: 0;
  background-color: #f0fbf9;
  transition: width 0.1s linear;
}
.sliderContainer {
  margin-top: 22px;
}

.container {
  background-color: rgb(79, 75, 76);
}

.barCompleted {
  margin-top: 12px;
  background-color: rgb(226, 237, 241);
  width: 100%;
  height: 6px;
  border-radius: 13px;
}

.label {
  display: none;
}
.hiddenLabel {
  display: none !important;
}
